@use '@angular/material' as mat;
@import '../node_modules/material-design-icons-iconfont/dist/material-design-icons.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}